/* 
    fonts
*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

nav a:nth-child(odd){
    color: #009DF8;
    &:hover{
        color: #8DAFCE;
    }
}

nav a:nth-child(even){
    color: #2e2e2e;
    &:hover {
        color: #6A7987;
    }
}

.animate {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  }

  .copyright {
    font-size: 25px; /* Ajustez cette valeur pour changer la taille */
}

.shadowTitle {
    text-shadow: 3px 3px #DAF3FF;
}
